{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block content %}
<h1 class="text-center">Register</h1>
<form method="POST" class="mt-4">
    <div class="form-group">
        <label for="health_in_number">Health Card Number:</label>
        <input type="text" class="form-control" id="health_in_number" name="health_in_number" required>
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="text" class="form-control" id="password" name="password" required>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Register</button>
</form>
{% endblock %}
